@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

body {
  background: linear-gradient(
    0deg,
    rgba(15, 107, 107, 1) 5%,
    rgba(98, 158, 158, 1) 15%,
    rgba(167, 208, 208, 1) 25%,
    rgba(193, 217, 217, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}

header {
  margin-left: 50px;
}

header i {
  display: inline-block;
  font-size: 100px;
}

header h1 {
  font-family: Boldonse;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
  margin-left: 20px;
}

header div {
  margin-bottom: 75px;
}

header div h3,
header div ol {
  display: inline-block;
  vertical-align: top;
}

header div h3 {
  font-family: Boldonse;
  font-size: 35px;
  margin: 0px;
  max-width: 30%;
}

header div ol {
  font-family: Tektur;
  font-size: 25px;
  max-width: 70%;
  vertical-align: bottom;
  margin: 0px;
  margin-top: 25px;
}

header div ol li {
  margin-bottom: 10px;
}

form {
  text-align: center;
}

form label {
  font-family: Tektur;
  font-size: 20px;
  font-weight: 300;
}

form input {
  font-family: Tektur;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  width: 310px;
  margin: 0;
}

form div button {
  font-family: Boldonse;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(0, 86, 86);
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#toDoArea {
  border: 2.5px solid black;
  background-color: white;
  max-width: 850px;
  min-height: 70px;
  margin: auto;
  padding-bottom: 10px;
}

.listBox {
  width: 90%;
  margin: auto;
}

.listPoint {
  display: inline-block;
  font-family: Tektur;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listPoint p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.deleteButton {
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(0, 86, 86);
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.line {
  margin: 0px;
  border: 1px solid black;
}
